/*@font-face {
    font-family: CFSpaceship;
    src: url(CFSpaceship-Regular.ttf);
}*/
.text {
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 10;
}

.progress-bar .track{
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;
    -fx-opacity: 0.4;
}

#progress-bar-life {
    -fx-background-color: white;
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;
    -fx-accent: red;
}

#progress-bar-oxygen {
    -fx-background-color: white;
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;
    -fx-accent: blue;
}

.button{
    -fx-background-color: rgba(204,204,204,0.1);
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}
.button:hover{
    -fx-background-color: rgba(246,246,246,0.2);
    -fx-text-fill: black;
}

/* Split menu button styling*/
/*These buttons are used for settings and difficulty*/
.split-menu-button {
    -fx-background-color: rgba(204,204,204,0.1);
}

.split-menu-button:hover {
    -fx-background-color: rgba(246,246,246,0.2);
}

.split-menu-button .arrow-button {
    -fx-background-color: rgba(204,204,204,0.1);
}

.split-menu-button .label {
    -fx-background-color: rgba(204,204,204,0.1);
}

.context-menu { 
    -fx-background-color: rgba(204,204,204,0.5); 
} 
.menu-item .text { 
    -fx-font-size: 12px;
} 

.menu-item:focused .text{ 
    -fx-font-size: 12px;
} 

.menu-item .label{ 
    -fx-background-color: transparent; 
} 

/*Style Toggle button for sound toggling*/
.toggle-button {
    -fx-background-color: rgba(204,204,204,0.1);
    -fx-background-radius: 20px;
}
.toggle-button:selected{
    -fx-background-color: rgba(246,246,246,0.2);
    -fx-text-fill: black;
}

/*Style list view, where scores will be shown*/
.list-view{
    -fx-background-color: rgba(204,204,204,0.1);
}

/* Style label for main menu title*/
#authors .text{
    -fx-font-size: 11px;
}

/* Terminal */
.text-area {
    -fx-font-family: Consolas;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
    -fx-background-color: #000000;

}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .content{
    -fx-background-color: transparent;
}

.text-field{
    -fx-font-family: Consolas;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
    -fx-background-color: #000000;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
}

